<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/movies/add" method="POST">
                        <div class="form-group">
                            <label for="title">Título:</label>
                            <input type="text" name="title" class="form-control" placeholder="Título" autofocus
                                required>
                        </div>
                        <div class="form-group">
                            <label for="director">Director:</label>
                            <input type="text" name="director" class="form-control" placeholder="Director" required>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="genre">Género:</label>
                                    
                                    <select class="custom-select" id="inputGenre" name="genre" required  
                                    {{#unless genres}}
                                    disabled
                                    {{/unless}}>

                                    <option hidden disabled selected value="">Seleccione un género...</option>
                                        {{#each genres}}
                                        <option value="{{id}}">{{genre}}</option>
                                        {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="synopsis">Sinopsis:</label>
                            <textarea name="synopsis" rows="2" class="form-control" placeholder="Sinopsis"></textarea>
                        </div>
                        <button class="btn btn-success btn-block">
                            GUARDAR
                        </button>
                        <br>
                        <div>
                            <a class="btn btn-secondary btn-block" href="/movies" role="button">VOLVER SIN GUARDAR</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>