<main class="index">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col card border-0 text-center">
                                <img src="img/movies.jpg"  alt="Elige tus películas" style="width:100%" class="indeximg">
                                <br>
                                <h3>
                                    ¿Querés guardas todas tus películas favoritas en un solo lugar?
                                </h3>
                                <a href="/movies" class="btn btn-primary m-4">¡Guardalas acá!</a>
                            </div>
                            <div class="col card border-0 text-center">
                                <img src="img/genres.jpg"  alt="Elige tus géneros" style="width:100%" class="indeximg">
                                <br>
                                <h3>
                                    Agrega géneros para tus películas favoritas
                                </h3>
                                <a href="/genres" class="btn btn-primary m-4">¡Agregalos acá!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>